<script>
    window.footerData = function () {
        return {};
    };
</script>
<footer x-data="footerData();">
    <div class="wrapper flex flex-col text-gray-50">
        <div><a href="">Questions? Contact us.</a></div>
        <div class="my-3">
            <ul class="footer-ul text-sm inline-flex flex-wrap">
                <li><a href="">FAQ</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Media Center</a></li>
                <li><a href="">Investor Relations</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Ways to Watch</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Cookie Preferences</a></li>
                <li><a href="">Corporate Information</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Speed Test</a></li>
                <li><a href="">Legal Guarantee</a></li>
                <li><a href="">Legal Notices</a></li>
                <li><a href="" x-text="'Only on ' + APP_NAME"></a></li>
                <li><a href="">Ad Choices</a></li>
            </ul>
        </div>
        <div>
            <div class="w-min">
                <div
                    x-data="{}"
                    x-init="loadComponent('general/language-select', $el);"
                ></div>
            </div>
        </div>
        <div>
            <div
                class="app-name text-sm mt-6"
                x-text="APP_NAME + ' Lithuania'"
            ></div>
        </div>
    </div>
</footer>
