<script>
    window.headerData = function () {
        return {
            goToEndPoint(endpoint) {
                const path = window.location.pathname;
                window.location.href = path + endpoint;
            },
        };
    };
</script>
<header
    x-data="headerData();"
    class="m-auto py-5 px-8 flex justify-between items-center"
>
    <div class="logo" @click="goToEndPoint('/');">
        <div
            x-data="{}"
            x-init="loadComponent('general/icons/netflix', $el);"
        ></div>
    </div>

    <div class="flex gap-3">
        <div
            x-data="{}"
            x-init="loadComponent('general/language-select', $el);"
        ></div>
        <div
            x-data="{}"
            x-init="loadComponent('general/link', $el, { text: 'Sign In', url: '#' });"
        ></div>
    </div>
</header>
